<li class="collection-item">
  <ul>
    <a href=<%=question_path(question) %>><%= question.text %></a>
    <a href=<%=question_path(question) %> data-method="delete" class="secondary-content">
      <i class="material-icons blue-text">delete</i>
    </a>
    <a href=<%=edit_question_path(question) %> class="secondary-content">
      <i class="material-icons blue-text">mode_edit</i>
    </a>
  </ul>
</li>