<% if resource.present? && resource.errors.any? %>
  <div class="errors">
    <h4>Errors:</h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>