<li class="collection-item">
  <div class="collection-cell">
    <a href=<%=answer_path(answer) %>><%= answer.text %></a>
  </div>

  <div class="collection-cell">
    <%= link_to "Edit", edit_answer_path(answer), class: 'secondary-content btn blue'%>
    |
    <%= link_to "Delete", answer_path(answer), method: :delete, class: 'secondary-content btn blue'%>
  </div>
</li>