<li class="collection-item">
  <div class="collection-cell">
    <a href=<%=answer_path(answer) %>><%= answer.text %></a>
  </div>

  <div class="collection-cell">
    <a href=<%=edit_answer_path(answer) %> class="secondary-content">
      <i class="material-icons blue-text">mode_edit</i>
    </a>

    <a href=<%=answer_path(answer) %> data-method="delete" class="secondary-content">
      <i class="material-icons blue-text">delete</i>
    </a>
  </div>
</li>