<style>
  * {
    text-align: center;
  }
</style>

<body>
  <main>
    <h1>About page</h1>
    <h2>Test Guru project</h2>
    <p>Create and pass tests</p>
    <p style="margin-top: 50px;">Ruby on Rails, 2021</p>
    <a href="http://www.thinknetica.com/">http://www.thinknetica.com/</a>
  </main>
</body>