body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}

main {
  flex: 1 0 auto;
  padding-top: 50px;
}

select {
  display: block;
}

.flex {
  display: flex;
  align-items: center;
}
