<div class="row">
  <h4>
    Tests list
    <%= link_to "Add new test", new_admin_test_path, class: "btn waves-effect waves-light blue right" %>
    <%= link_to "See gists", admin_gists_path, class: "btn waves-effect waves-light blue right" %>
  </h4>
</div>

<table class="tests-table">
  <thead>
    <tr>
        <th class="tests-table__title">
          Title
          <i class="material-icons tiny hide" id="arrow_upward">arrow_upward</i>
          <i class="material-icons tiny hide" id="arrow_downward">arrow_downward</i>
        </th>
        <th>Level</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
  </thead>
  <tbody class="tests-table__tbody">
    <%= render @tests %>
  </tbody>
</table>