<tr>
  <td>
    <%= test.title %>
  </td>
  <td>
    <span><%= test.level %></span>
  </td>
  <td>
    <span><%= test.category.title %></span>
  </td>
  <td>
    <%= button_to 'Start', start_test_path(test), class: 'btn blue btn-start' %>
  </td>
</tr>