<li class="collection-item">
  <div class="collection-cell">
    <%= test.title %>
    <span>level: <%= test.level %></span>
    <span>category: <%= test.category.title %></span>
  </div>

  <div class="collection-cell">
    <%= button_to 'Start', start_test_path(test), class: 'btn blue btn-start' %>
  </div>
</li>